body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: auto;
    font-size: 20px;
  }

  a{
    color: blueviolet;
  }
  
  .medium-image{
    width: 300px;
    height: auto;
  }
  
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
